// Place all the styles related to the cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-list {
  list-style-type: none;
  overflow: hidden;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}
.card-list li {
  float: left;
}

.card {
  background-color: #BCC6CC;
  border: 2px solid grey;
  border-radius: 2px;
  margin: 5px;
  padding: 4px;
  height: 250px;
  min-width: 100px;
  width: 20%;
  overflow-y: scroll;
}

.card-number {
  vetical-align: bottom;
  float: right;
}
