a {
  text-decoration: none;
}

a:link {
  color: #4863A0
}

a:visited {
  color: #6A287E
}

.inline {
  display: inline;
}

.center {
  text-align: center;
}

.left-justify {
  text-align: left;
}

.content {
  background-color: #E5E4E2;
  margin: 0px;
  padding: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

.fa-trash-o {
  color: #C24641;
}

.fa-plus {
  color: #85BB65;
}
